<div class="container mt-5 mb-5">
    
    <h1 class="fs-2 fw-bold text-center mb-5">Restaurantes disponibles</h1>

   @if (isLoading) {
       } 
    @else {
        @if (restaurants.length === 0) {
            <div class="col-12 text-center py-5">
                <div class="alert alert-info d-inline-block">
                    <i class="bi bi-info-circle me-2"></i>
                    No se encontraron restaurantes disponibles en este momento.
                </div>
            </div>
        } 
        
        @if (restaurants.length > 0) {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                @for (rest of restaurants; track rest.id) { 
                    <div class="col">
                        <article class="card h-100 shadow-sm border-0">

                            <img src="unnamed.jpg"
                                 [alt]="rest.restaurantName" 
                                 class="card-img-top object-fit-cover restaurant-img">
                            
                            <div class="card-body">
                                <h5 class="card-title fw-bold text-truncate text-body-emphasis">
                                    {{ rest.restaurantName }}
                                </h5>
                                
                                <p class="card-text text-body-secondary mb-3">
                                    <i class="bi bi-geo-alt-fill me-1"></i>
                                    {{ rest.address || "Dirección no disponible" }}
                                </p>
                                
                                <span class="badge border text-body-emphasis bg-body-tertiary">Restaurante</span>
                            </div>
                            
                            <div class="card-footer bg-white border-top-0 pb-3">
                                <a [routerLink]="['/menu', rest.id]" class="btn btn-primary w-100">
                                    Ver menu
                                </a>
                            </div>
                        </article> </div>
                }
            </div>
        }      
    }
</div>