.detail-img {
    max-height: 250px;
    width: 100%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); /*mas facil de controlar q con libreria*/
}

.detail-img {
    max-height: 250px;
    width: 100%;
}