/* You can add global styles to this file, and also import other style files */
:root {

    --bs-primary: #e65100;
    --bs-primary-rgb: 230, 81, 0;

    --bs-body-font-family: 'Poppins', sans-serif;
    --bs-link-color: #e65100;
    --bs-link-hover-color: #bf360c;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}